.App {
  text-align: center;
}

.App-logo {
  height: 65px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #FFF;
  height: 150px;
  padding: 20px;
  color: #0069d9;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
